/* Collapsed state */
.searchBar__5a20a {
    width: 32px !important;
    background: none !important;
    border-color: transparent !important;
    transition: 
        background .25s ease,
        width .25s ease,
        border-color .25s ease;
    overflow: hidden;
}

/* Text padding fix */
.searchBar__5a20a .DraftEditor-root {
    padding-right: 3px !important;
}

/* Expanded (when focused / open) */
.searchBar__5a20a:focus-within {
    width: 244px !important;
    background: var(--background-gradient-low, var(--input-background-default)) !important;
    border-color: var(--input-border-default) !important;
}

/* Icon spacing */
.searchBar__5a20a .iconContainer__82913 {
    margin-right: 7px;
}

/* Container margin reset */
.container__11d72 {
    margin: 0 !important;
}
