[aria-label="Channel header"] {
  div:has(> div > .DraftEditor-root) {
    --is-search-active: 0;
    --search-width: calc(32px + (var(--is-search-active) * 212px));
    --search-bg: rgba(0, 0, 0, 0);
    --search-border: transparent;

    margin: 0 !important;
  }

  div:has(> div > .DraftEditor-root):focus-within,
  div:has(> div > .DraftEditor-root):has(span[data-text="true"]) {
    --is-search-active: 1;
    --search-bg: var(--background-gradient-low, var(--input-background-default));
    --search-border: var(--input-border-default);
  }

  div:has(> div > .DraftEditor-root)>div {
    width: var(--search-width) !important;
    background: var(--search-bg);
    border: 1px solid var(--search-border);
    will-change: width, background-color;

    transition:
      width 0.25s cubic-bezier(0.4, 0, 0.2, 1),
      background 0.2s ease,
      border-color 0.2s ease;
  }

  div:has(> div > .DraftEditor-root) .DraftEditor-root {
    padding-right: 3px !important;
  }

  div:has(> div > .DraftEditor-root) [role="button"] {
    margin-right: 7px;
  }
}
